html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: #2A2A2A;
}

ol,
ul,
li {
    list-style: none;
}

button {
    background-color: transparent;
}

.main {
    overflow: hidden;
    /* padding-bottom: 500px; */
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.container {
    max-width: 1780px;
    padding: 0 10px;
    margin: 0 auto;
}

.header-top {
    padding: 34px 0 17px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    color: #2A2A2A;
    border-bottom: 1px solid #DEDEDE;
}

.header-top__list {
    display: flex;
    gap: 0 50px;
}

.header-center {
    padding-top: 7px;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;
}

.header-logo {
    margin-right: 141px;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
}

.header-center__list {
    display: flex;
    margin-right: 559px;
    font-size: 20px;
    font-weight: 400;
    gap: 0 48px;
}

.header-contacts {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    align-items: center;
}

.header-contacts__item-telegram {
    margin-right: 10px;
}

.header-contacts__item-whatsapp {
    margin-right: 20px;
}

.price-auto {
    padding-top: 158px;
    padding-bottom: 100px;
    color: #2A2A2A;
}

.price-auto__wrapper {
    display: flex;
    gap: 0 6px;
}

.price-auto__text {
    text-align: center;
}

.price-auto__title {
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 655px;
    text-align: center;
    margin-bottom: 60px;
}

.price-auto__title span {
    color: #00558D;
}

.auto-conf {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 29px 85px;
}

.price-conf {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    gap: 10px 0;
}

.price-auto__list__title {
    font-size: 24px;
    font-weight: 400;
}

.price-auto__inp {
    display: flex;
    width: 100%;
    padding: 0 20px;
    gap: 0 87px;
    border-bottom: 1px solid var(--2, #2A2A2A);
}

.price-auto__input {
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
}

.price-auto__input:focus {
    border: 0;
    outline: 0;
}

.price-auto__btn {
    transition: transform ease .3s;
}

.price-auto__btn__active {
    transform: rotate(-180deg);
    transition: transform ease .3s;
}

.price-auto__list {
    position: absolute;
    top: 94px;
    left: 0;
    width: 334px;
    display: none;
    flex-direction: column;
    gap: 7px 0;
    padding: 15px 0;
    background-color: #FFF;
    border-radius: 0px 0px 25px 25px;
    border-right: 1px solid #00558D;
    border-bottom: 1px solid #00558D;
    border-left: 1px solid #00558D;
    z-index: 1;
}

.price-auto__list__open {
    display: flex;
}

.price-auto__list__item {
    padding: 0 15px;
    font-weight: 400;
}

.price-auto__list__item:hover,
.price-auto__list__item:focus {
    background-color: blue;
    color: #fff;
}

.price-auto__images {
    position: relative;
}

.price-auto__images::before {
    content: '';
    background: url(../images/price-auto-ellipse.svg) 0 0 no-repeat;
    position: absolute;
    width: 784px;
    height: 772px;
    top: -55px;
    left: 270px;
    z-index: -1;
}

.price-auto__compilation {
    width: 159px;
    height: 159px;
    background-color: #CF1013;
    margin-top: 58px;
    border-radius: 50%;

}
.price-auto__compilation__text {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.advantages {
    padding-top: 12px;
    margin-bottom: 100px;
}

.advantages-title {
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 1427px;
    line-height: 50px;
    margin-bottom: 68px;
}

.advantages-title span {
    color: #CF1013;
}

.advantages-list {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 52px 50px;
}

.advantages-item {
    border: 1px solid #2A2A2A;
    border-radius: 100px;
    padding: 44px 67px 45px;
    min-height: 180px;
}

.advantages-item__title {
    font-size: 36px;
    font-weight: 400;
    color: #00558D;
    text-align: center;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.advantages-item__descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.five-steps {
    margin-bottom: 570px;
    /* 116px */
}

.five-steps__text {
    display: flex;
    gap: 0 331px;
    align-items: center;
    margin-bottom: 132px;
}

.title {
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
}

.title span {
    color: #CF1013;
}

.descr {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    max-width: 704px;
}

.five-steps__map__1 {
    width: 100%;
}

.five-steps__map {
    position: relative;
}

.five-steps__map::after {
    content: '';
    position: absolute;
    background: url(../images/five-steps-2.svg) 0 0 no-repeat;
    left: 50px;
    top: 252px;
    width: 100%;
    height: 300px;
}

.number-map {
    position: relative;
    z-index: 2;
    max-width: 391px;
}

.number-1 {
    position: absolute;
    top: -57px;
    left: 185px;
    text-align: center;
}

.number-2 {
    position: absolute;
    top: -57px;
    left: 1350px;
    text-align: center;
}

.number-3 {
    position: absolute;
    top: 198px;
    left: 660px;
    text-align: center;
}

.number-4 {
    position: absolute;
    top: 473px;
    left: 73px;
    text-align: center;
}

.number-5 {
    position: absolute;
    top: 473px;
    left: 1300px;
    text-align: center;
}

.five-steps__map__ellipse {
    margin-bottom: 15px;
}

.number-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.number-descr {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}






















































::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(red, green, blue, 0);
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    background-color: #575757;
    border-radius: 10px;
}